* { margin: 0px; padding: 0px; }

body {
	text-align: left;
	font-family: helvetica;
	color: black;
	background: yellow;
}

/* flag outline */

.flag {
	width: 640px;
	height: 320px;
	background: white;

	margin: calc(50vh - 160px); auto: 0px auto;

	box-shadow: 0px 0px 20px rgba(0,0,0,20);

	transition: all 500ms ease; 
	position: relative;
}

.flag:hover{
	box-shadow: 0px 0px 280px rgba(0,0,0,1);
	transform: scale(1.2); 
}


.flag:hover #circle{
	background: purple;

}

#sqaure {
	width: 100px;
	height: 100px;
	background: brown;
}
/* japanese flag */

#circle {
	width: 150px;
	height: 150px;
	background: red;

	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 75px);

	border-radius: 75%;
}


/* media queries */

@media (min-width: 375px) and (max-width: 667px) { 

	body {
		background: pink;
	}
	.flag {
	width: 320px;
	height: 160px;
}
	
	#circle {
	width: 150px;
	height: 150px;
	background: red;

	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 75px);

	border-radius: 75%;
}



}

