* {margin: 0px; padding 0px;}

body {
	height: 100%; 
	width: 100%;
	overflow: hidden;
	font-family: "helvetica", sans-serif;
}

#video-background {
	
	/*
	sets the video to be the width of the window 
	*/
	

}
.warningsign{
	position: absolute;
	top: 40%;
	background-color: yellow;
	width: 2100px;
	height: 120px;

	border-top: 16px solid black;
	border-bottom: 16px solid black;
}

.warningsignmv{
	animation: warningsignprss 10s linear infinite;
	left: 2100px;
}
.warningsignmv2{
	animation: warningsignprss 10s 5s linear infinite;
	left: 2100px;
}
.blink{
	animation: blinkprcss 3s linear infinite;
	opacity: 0;
}
@keyframes blinkprcss {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes warningsignprss {
	from{
		transform: translate(0px,0px);
	}
	to{
		transform: translate(-4200px,0px);
		}
}


.title{

text-transform: uppercase;

margin-top: -5px;

font-size: 120px;
font-weight: 700;

/*font-family: 'Press Start 2P', cursive;*/

}



.vbg{
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
	top:0px;
	display: none;
}

img {
z-index: 1000; 
position: relative;

width: 100px;

}

#web-1{
position: absolute;
top: 100px;
left: 200px;
}

#web-2{
position: absolute;
top: 500px;
left: 500px;
}

#web-3{
position: absolute;
top: 550px;
left: 300px;
}

#web-4{
position: absolute;
top: 100px;
left: 400px;
}

#web-5{
position: absolute;
top: 200px;
left: 600px;
}

#web-6{
position: absolute;
top: 430px;
left: 700px;
}

#web-7{
position: absolute;
top: 150px;
left: 800px;
}

#web-8{
position: absolute;
top:70px;
left: 1000px;
}

#web-9{
position: absolute;
top: 570px;
left: 1050px;
}

#web-10{
position: absolute;
top: 450px;
left: 80px;
}

#web-11:hover .aboutbox{
	opacity: 1;
}

#web-11{
position: absolute;
top: 70px;
left: 80px;
}

.aboutbox{
	position: relative;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 200px;
	background-color: white;
	padding: 10px;

	opacity: 0;
	transition: all 0.3s;
}


h1{
	margin: 0px;
}
