#title
{position: relative;
	margin-top:px;
	margin-left:500px;
	color: black;
	font-family: Helvetica;
}
#yt
{position: relative;
	margin-top:px;
	margin-left:500px;
	color: red;
	font-family: Helvetica;
	 }
#gg
{position: relative;
	margin-top:px;
	margin-left:500px;
	color: green;
	font-family: Helvetica;
	}
#fb
{position: relative;
	margin-top:px;
	margin-left:500px;
	color: blue;
	font-family: Helvetica;
}
#is
{position: relative;
	margin-top:px;
	margin-left:500px;
	color: purple;
	font-family: Helvetica;
}
